.App {
  text-align: center;
}

.text {
  font-size: 15px;
}

.img-thumbnail {
  padding: .15rem !important;
  background-color: #61dafb !important;
  border-radius: 50% !important;
}

.catImage {
  display: "flex";
  cursor: "pointer"
}

.catItem {
  display: none;
}

/* @media screen and (max-width: 700px) {
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end !important;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: -8px;
  }
  .img-thumbnail {
    padding: .15rem !important;
    background-color: whitesmoke!important;
  }
  .text {
    color: whitesmoke !important;
    font-size: 12px;
  }
  .App-link {
    color: whitesmoke !important;
    font-size: 10px;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.score {
  color: #61dafb;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
  font-size: 10px;
}

.CopyRight {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.imgCat {
  border-radius: 50% !important;
}

.btn {
  border-radius: 5px !important;
  font-size: 12px !important;
}